<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="fragments/head.html">
</head>

<body>
<section class="hero is-info is-fullheight">
    <div th:include="fragments/navbar.html"></div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <ul class="steps has-content-centered">
                        <li class="steps-segment">
                            <span class="steps-marker"></span>
                            <div class="steps-content">
                                <p class="is-size-4">Step 1</p>
                            </div>
                        </li>
                        <li class="steps-segment">
                            <span class="steps-marker"></span>
                            <div class="steps-content">
                                <p class="is-size-4">Step 2</p>
                            </div>
                        </li>
                        <li class="steps-segment">
                            <span class="steps-marker"></span>
                            <div class="steps-content">
                                <p class="is-size-4">Step 3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column is-full">
                    <article id="info" class="message is-dark" th:data-id="${project.getUuid()}">
                        <div class="message-header">
                            <p th:text="${project.url.getTitle()}"></p>
                        </div>
                        <div class="message-body">
                            <form action="" role="form">
                                <input id='step2' type='checkbox'>
                                <input id='step3' type='checkbox'>
                                <div id="part1">
                                    <div class="field">
                                        <label class="label">Name</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Text input">
                                        </div>
                                    </div>
                                    <div class="field is-grouped">
                                        <label for="step2">
                                            <div class="button is-link">Continue</div>
                                        </label>
                                    </div>
                                </div>
                                <div id="part2">
                                    <div class="field">
                                        <label class="label">Username</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input class="input is-success" type="text"
                                                   placeholder="Text input" value="bulma">
                                            <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
                                            <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
                                        </div>
                                        <p class="help is-success">This username is available</p>
                                    </div>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <label for="step2">
                                                <div class="button is-link">Previous</div>
                                            </label>
                                        </div>
                                        <div class="control">
                                            <label for="step3">
                                                <div class="button is-link">Continue</div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="part3">
                                    <div class="field">
                                        <label class="label">Email</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input class="input is-danger" type="email"
                                                   placeholder="Email input" value="hello@">
                                            <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
                                            <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
                                        </div>
                                        <p class="help is-danger">This email is invalid</p>
                                    </div>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <label for="step3">
                                                <div class="button is-link">Previous</div>
                                            </label>
                                        </div>
                                        <div class="control">
                                            <button type="submit" class="button is-link">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
