<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="fragments/head.html">
</head>
<body>
<section class="hero is-info is-fullheight">
    <div th:include="fragments/navbar.html"></div>

    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-full">
                    <article id="info" class="message is-dark">
                        <div class="message-header">
                            <p th:text="${project.url.getTitle()}"></p>
                        </div>
                        <div class="message-body">
                            <div class="columns is-multiline is-half-vertically">
                                <div class="column is-one-third is-full-mobile">
                                    <iframe id="ytplayer" class="is-fullwidth"
                                            th:src="${embedPlayer}"></iframe>
                                    <a class="button is-danger"
                                       th:href="${project.getUrl().getUrl()}">Source <span
                                            class="fa fa-play has-space-left"></span></a>
                                </div>
                                <div class="column is-one-third is-full-mobile">
                                    Tasks:
                                    <ul>
                                        <li th:each="task : ${project.getTasks()}">
                                            <div class="card">
                                                <header class="card-header">
                                                    <p class="card-header-title" th:text="${task.getType()}"></p>
                                                    <a href="#" class="card-header-icon"
                                                       aria-label="more options">
                                                          <span class="icon">
                                                            <i class="fas fa-angle-down"
                                                               aria-hidden="true"></i>
                                                          </span>
                                                    </a>
                                                </header>
                                                <div class="card-content">
                                                    <div class="content">
                                                        <p th:text="${task.getState()}"></p>
                                                        <progress class="progress is-info"
                                                                  th:text="${task.getProgress() == null ? 100 : task.getProgress()}"
                                                                  th:value="${task.getProgress()}"
                                                                  max="100"></progress>
                                                    </div>
                                                </div>
                                                <footer class="card-footer">
                                                    <a href="#" class="card-footer-item">Delete</a>
                                                </footer>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="column is-one-third is-full-mobile">
                                    Exports:
                                    <ul>
                                        <li th:each="export : ${project.getOutputs()}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="columns is-multiline is-centered">
                                <div class="column is-one-third is-full-mobile">
                                    <a class="button is-info is-fullwidth"
                                       th:href="${actionUrl}">Create new task</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
